@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-nutmeg: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-rose-white: hsl(330, 100%, 98%);
    --neutral-eggshell: hsl(30, 54%, 90%);
    --neutral-light-grey: hsl(30, 18%, 87%);
    --neutral-wenge-brown: hsl(30, 10%, 34%);
    --neutral-dark-charcoal: hsl(24, 5%, 18%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', 'sans serif';
    background-color: var(--neutral-eggshell);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 8.5% auto;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; 
    padding: 2.5em;
    background-color: var(--neutral-white);
    border-radius: 1.5rem;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}

header {
    font-size: 1.2rem;
    color: var(--neutral-dark-charcoal);
}

h1, h2 {
    font-family: 'Young Serif', 'sans serif';
}

h2 {
    color: var(--primary-nutmeg);
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

p, li, span {
    color: var(--neutral-wenge-brown);
}

ul, ol {
    list-style-position: inside;
}

section {
    line-height: 2;
}

section ul {
    padding-left: 0.5rem;
}

div li span,
section li span {
    position: relative;
    left: 1.5rem;
    vertical-align: middle;
}

ul li::marker {
    font-size: 0.75rem;
}

.preparation-time {
    background-color: var(--neutral-rose-white);
    border-radius: 0.5rem;
    line-height: 2;
    padding: 1rem 1.75rem;
    margin-bottom: 0.5rem;
}

.preparation-time h3 {
    font-size: 1.25rem;
}

.preparation-time ul {
    padding-left: 0.5rem;
}

.preparation-time h3, li::marker {
    color: var(--primary-dark-raspberry);
}

.ingredients {
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--neutral-light-grey);
}

.instructions h2 {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.instructions ol {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.instructions ol li {
    padding-bottom: 0.75rem;
    line-height: 1.5rem;
    text-indent: -1rem;
}

.instructions ol li::marker {
    font-weight: 700;
}

.instructions li span {
    position: relative;
    left: 1rem;
    bottom: 0.1rem;
}

.instructions {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--neutral-light-grey);
}

.nutrition h2 {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.nutrition-table--row {
    position: relative;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--neutral-light-grey);
}

.nutrition-table--row:not(:first-child) {
    padding-top: 0.5rem;
}

.nutrition-table--row:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.nutrition-table--row span:last-child {
    color: var(--primary-nutmeg);
    font-weight: 700;
    position: absolute;
    left: 50%;
}

@media screen and (max-width: 1000px) {

    main {
        max-width: 75%;
        margin: 4.5% auto;
    }

}

@media screen and (max-width: 500px) {
    
    main {
        max-width: 100%;
        margin: 0;
    }

    .recipe-card {
        gap: 1rem; 
        padding: 0;
        border-radius: 0;
    }

    .recipe-card img {
        border-radius: 0;
    }

    .recipe-card img ~ * {
        padding: 0 1.75rem;
    }

    header {
        font-size: 1rem;
    }

    .preparation-time {
        margin: 0 1.75rem 0.5rem;
    }

    .preparation-time h3 {
        margin-top: 1rem;
    }
    
    .preparation-time ul {
        margin-bottom: 1rem;
    }

    .ingredients ul {
        padding-right: 1.75rem;
        padding-bottom: 1.5rem;
        line-height: 1.5;
    }

    .ingredients ul li {
        margin-bottom: 0.5rem;
    }

    .instructions ol {
        margin-bottom: 1rem;
    }

    .nutrition-table--row:last-child {
        margin-bottom: 2rem;
    }

}