@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --text-accent: hsl(218, 44%, 22%);
    --text-neutral: hsl(220, 15%, 55%);
    --background-white: hsl(0, 0%, 100%);
    --background-neutral: hsl(212, 45%, 89%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', 'sans-serif';
    font-size: 0.93rem; /* 15px / 16px */
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: var(--background-neutral);
}

.card {
    max-width: 24%;
    padding: 1.06rem;
    background-color: var(--background-white);
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.card__img {
    max-width: 100%;
    border-radius: 10px;
}

.card__description {
    text-align: center;
}

.info header {
    color: var(--text-accent);
}

.info p {
    color: var(--text-neutral);
    font-size: 15px;
    margin: 0 4px 16px;
}